* {
  box-sizing: border-box;
  max-width: 1280px;
  margin: auto;
  font-family: "Inter", "Roboto", "-apple-system", "Segoe UI", "Helvetica Neue",
    "Arial";
  /* font-family: "Netflix Sans", "-apple-system", "BlinkMacSystemFont",
    '"Segoe UI"', "Roboto", '"Helvetica Neue"', "Arial", "sans-serif",
    '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"' !important; */
}

body {
  background-color: #1a1a1a;
  padding: 0;
  color: rgb(230, 230, 230);
  width: 1280px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 24px;
}

.container-logo-text {
  display: flex;
  flex-direction: row;
  width: 168px;
}

#navbar-options {
  display: flex;
  gap: 50px;
  background-color: rgb(41, 41, 41);
  border-radius: 16000px;
  height: 36px;
  color: rgb(230, 230, 230);
  padding-left: 48px;
  padding-right: 48px;
  margin-left: 130px;
  margin-right: 130px;
  width: 530px;
  z-index: 1 !important;
}

#footer-options {
  display: flex;
  gap: 64px;
  height: 36px;
  color: rgb(230, 230, 230);
  font-size: 12px;
}

#footer-options li {
  list-style-type: none;
  place-self: center;
  color: rgb(160, 160, 160);
}

#footer-options li:hover {
  text-decoration: underline;
}

#navbar-options li {
  list-style-type: none;
  font-weight: bolder;
  place-self: center;
  transition: background-color 0.3s, padding 0.3s, border-radius 0.3s,
    color 0.3s;
}

#navbar-options li:hover {
  background-color: rgb(233, 233, 233);
  color: black;
  padding: 10px;
  border-radius: 1000000000px;
}

a {
  text-decoration: none;
  color: rgb(230, 230, 230);
}

a:hover {
  color: rgb(192, 192, 192);
}

.bi-bell-fill {
  padding-left: 14px;
  z-index: 1 !important;
}

.bi-caret-down-fill {
  padding-left: 12px;
  margin-right: 30px;
  z-index: 1 !important;
}

.bi {
  color: rgb(230, 230, 230);
  cursor: pointer;
  z-index: 1 !important;
}

.bi:hover {
  color: rgb(192, 192, 192) !important;
  z-index: 1 !important;
}

#logo {
  display: none;
  width: 60px;
  filter: invert();
  opacity: 85%;
  cursor: pointer;
}

div .container-logo-text:hover {
  color: rgb(230, 230, 230) !important;
}

#logo-name {
  align-self: center;
  margin: auto;
  font-weight: bolder;
  font-size: 28px;
  cursor: pointer;
  z-index: 1 !important;
}

.container-nav-bar {
  display: flex;
  flex-direction: row;
}

.container-footer-bar {
  display: flex;
  flex-direction: column;
}

.container-header-profile {
  display: flex;
  flex-direction: row;
  place-content: center;
  align-items: center;
  width: 168px;
}

#profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 10000000000px;
  cursor: pointer;
  z-index: 1 !important;
}

#profile-user {
  margin-right: 16px;
  margin-left: 16px;
  font-weight: bolder;
  cursor: pointer;
  z-index: 1 !important;
}

#profile-user:hover {
  color: rgb(192, 192, 192) !important;
}

.container-banner-home {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  width: 100%;
}

#banner {
  width: 100%;
  height: 460px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  border-radius: 64px;
  cursor: pointer;
  z-index: 1 !important;
}

#best-song-ever {
  border-radius: 8px;
}

.privacy-description {
  margin-top: 24px;
}

.privacy-subtitle {
  margin-top: 24px;
}

.terms-description {
  margin-top: 24px;
}

.terms-subtitle {
  margin-top: 24px;
}

.super-secret-description {
  margin-top: 24px;
}

.super-secret-subtitle {
  margin-top: 24px;
}

.tiny-map {
  border-radius: 8px;
  width: 300px;
  height: 300px;
}

#tus-secretos {
  width: 240px;
  height: 172px;
  border-radius: 8px;
  margin: 0;
}

.container-map-secret {
  display: flex;
  margin-top: 72px;
  margin-bottom: 72px;
}

.contenedor-secretos {
  display: flex;
  flex-direction: row;
  margin-top: 72px;
  justify-content: center;
}

.contenedor-secretos-textos {
  display: flex;
  width: 200px;
  flex-direction: column;
  margin-left: 48px;
  margin-right: 0px;
}

.contenedor-secretos-textos h3 {
  margin: 0;
  margin-bottom: 12px;
}

.banner-icon-left {
  position: relative;
  left: 72px;
  font-size: 28px;
  border-radius: 10000000000000px;
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
  line-height: 0px;
  color: rgb(223, 223, 223);
  background-color: rgba(0, 0, 0, 0.322);
  cursor: pointer;
  transition: transform 0.5s;
}

.banner-icon-left:hover {
  transform: scale(1.5);
}

.container-video-secret {
  display: flex;
  margin-top: 72px;
  margin-bottom: 72px;
}

.banner-icon-right:hover {
  transform: scale(1.5);
}

.banner-icon-right {
  position: relative;
  right: 72px;
  font-size: 28px;
  border-radius: 10000000000000px;
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
  line-height: 0px;
  color: rgb(223, 223, 223);
  background-color: rgba(0, 0, 0, 0.322);
  cursor: pointer;
  transition: transform 0.5s;
}

.new-arrivals {
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.shows-suggestions {
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.movies-suggestions {
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.shows-suggestions h1 {
  margin-top: 48px;
  font-weight: bolder;
  font-size: 36px;
  position: relative;
  z-index: 1 !important;
}

.movies-suggestions h1 {
  margin-top: 48px;
  font-weight: bolder;
  font-size: 36px;
  position: relative;
  z-index: 1 !important;
}

.profile-section {
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 24px;
  margin-bottom: 72px;
}

.new-trends {
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.new-arrivals h1 {
  margin-top: 48px;
  font-weight: bolder;
  font-size: 36px;
  position: relative;
  z-index: 1 !important;
}

.new-trends h1 {
  margin-top: 48px;
  font-weight: bolder;
  font-size: 36px;
}

.profile-section h1 {
  margin-top: 48px;
  font-weight: bolder;
  font-size: 36px;
  position: relative;
  z-index: 1 !important;
}

.multimedia-card {
  margin-top: 24px;
  cursor: pointer;
  z-index: 1 !important;
}

.multimedia-card img {
  width: 290px;
  height: 400px;
  border-radius: 8px;
  transition: transform 0.5s, box-shadow 0.5s;
}

.multimedia-card img:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.212);
}

.container-new-arrivals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  z-index: 1 !important;
}

.container-trending {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: -32px;
}

.trending-card {
  display: flex;
  flex-direction: column;
}

.trending-card img {
  width: 290px;
  height: 169px;
  border-radius: 8px;
  transition: box-shadow 0.5s, transform 0.5s;
  cursor: pointer;
}

.trending-card img:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.212);
}

p#trend-title {
  position: relative;
  max-width: 120px;
  top: 158px;
  left: 18px;
  font-weight: bolder;
  font-size: 24px;
  z-index: 10000000000000;
  transition: transform 0.5s;
  margin: 0px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
  color: white;
  cursor: pointer !important;
}

.trending-card:hover p#trend-title {
  transform: scale(1.1);
}

#dummy {
  width: 0px;
  opacity: 0;
  display: inline-block;
  line-height: 27px;
}

#copyright-footer-message {
  margin-top: 48px;
  font-size: 11px;
  text-align: center;
  margin-bottom: 48px;
  color: rgb(160, 160, 160);
}

.social-media-footer {
  display: flex;
  flex-direction: row;
  gap: 48px;
  font-size: 18px;
  margin-top: 64px;
  margin-bottom: 36px;
}

.hyperlinks-footer {
  display: flex;
  flex-direction: row;
}

/**/

/* Slideshow container */
.slideshow-container {
  max-width: 1280px;
  position: relative;
  margin-top: 48px;
  margin-bottom: 48px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 460px;
  transition: transform 0.3s ease-in-out;
}

.slideshow-container:hover .mySlides {
  transform: scale(1.005);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -35px;
  padding: 16px;
  color: rgb(223, 223, 223);
  font-weight: bold;
  font-size: 36px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 36px;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 8px;
  position: absolute;
  bottom: 28px;
  text-align: left;
  left: 28px;
  font-weight: bolder;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  display: none;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 6px;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.blur-banner {
  display: none;
  filter: blur(215px);
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1000;
}

.blur-banner img {
  z-index: -1000;
}

img.blur-banner.series {
  display: inline-block !important;
  bottom: 640px;
  right: 640px;
}

img.blur-banner.peliculas {
  display: inline-block !important;
  bottom: 640px;
  right: 640px;
}

img.blur-banner.mislistas {
  display: inline-block !important;
  bottom: 640px;
  right: 440px;
  opacity: 60%;
}

img.blur-banner.perfil {
  display: inline-block !important;
  bottom: 695px;
  left: 265px;
  opacity: 60%;
  margin: 0;
  max-width: 900px;
  height: 312px;
}

#adjust-navbar > li {
  font-weight: 500;
}

.container-profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
  margin-top: 72px;
  margin-bottom: 72px;
}

.avatar-big-profile {
  border-radius: 1000000px;
  width: 240px;
  height: 240px;
  margin: 0px;
}

.container-user-details {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-size: 24px;
  font-weight: bolder;
  gap: 24px;
}

.container-user-notifications {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container-check-details {
  display: flex;
  gap: 48px;
  font-size: 22px;
  text-align: left;
  height: 100px;
}

.container-check-details .notification-description {
  width: 720px;
}

.highlight-details-profile {
  border: 1px solid rgba(230, 230, 230, 0.377);
  border-radius: 10px;
  padding: 16px 72px;
  width: 380px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.048);
}

.middle-profile {
  margin-left: 128px;
}

.credit-card-section {
}

.bi-credit-card-2-front {
  font-size: 228px;
  color: rgba(230, 230, 230, 0.377);
  text-align: center;
  margin-bottom: -30px;
}

.bi-credit-card-2-front:hover {
  color: rgba(230, 230, 230, 0.377) !important;
  cursor: unset;
}

.container-card-description {
  display: flex;
  flex-direction: row;
  place-content: center;
  align-items: center;
  margin-top: 72px;
  margin-bottom: 72px;
  width: auto;
  gap: 0px;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 48px;
  margin-right: 0px;
}

.highlight-card-details {
  border: 1px solid rgba(230, 230, 230, 0.377);
  border-radius: 10px;
  padding: 16px;
  width: 360px;
  cursor: pointer;
}

.vertical-line {
  border-left: 2px solid rgba(230, 230, 230, 0.377);
  height: 400px;
  margin: 0;
  border-radius: 8px;
}

.container-card-icon-details {
  display: flex;
  flex-direction: column;
  margin-right: 48px;
  margin-left: 0px;
  align-items: center;
}

.number-card-details {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
}

.highlight-card-details-left {
  border: 1px solid rgba(230, 230, 230, 0.377);
  border-radius: 10px;
  padding: 16px;
  width: 110px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

#credit-card {
  width: 228px;
  height: 228px;
  filter: grayscale();
  margin: 0;
}

.container-renew-buttons {
  display: flex;
  flex-direction: flex-end;
  gap: 8px;
}

.highlight-card-details-right {
  border: 1px solid rgba(230, 230, 230, 0.377);
  border-radius: 10px;
  padding: 16px;
  width: 176px;
  text-align: center;
  font-size: 12px;
  gap: 8px;
}

.cancel-sub {
  border: 1px solid rgba(230, 230, 230, 0.377) !important;
  cursor: pointer;
}

.mod-datos {
  border: 1px solid rgba(230, 230, 230, 0.377) !important;
  cursor: pointer;
}

.notifications-section {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}

body > header > div > div > a {
  display: flex;
}
