<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>mate+ | Películas, series y cortos</title>
    <meta name="description" content="Aquí encontrarás las últimas películas, series y cortos. El mejor contenido actualizado, nacional e internacional." />
    <meta name="keywords" content="mate+,Series Argentinas,Películas Argentinas,Cortos Argentinos,Series,Peliculas" />
    <link rel="canonical" href="https://www.mateplus.com.ar/" />
  </head>
  <body>
    <header>
      <div class="container-header">
        <a href="./index.html">
          <div class="container-logo-text">
            <p id="logo-name">mate+</p>
          </div>
        </a>
        <nav>
          <div class="container-nav-bar">
            <ul id="navbar-options">
              <a id="adjust-navbar" href="index.html"><li>Inicio</li></a>
              <a href="series.html"><li>Series</li></a>
              <a href="peliculas.html"><li>Películas</li></a>
              <a href="mislistas.html"><li>Mis listas</li></a>
            </ul>
          </div>
        </nav>
        <div class="container-header-profile">
          <a href="./perfil.html">
            <p id="profile-user">Ricardo</p>
            <img id="profile-avatar" src="../public/images/avatar.png" />
          </a>
        </div>
      </div>
    </header>
    <main>
      <div class="slideshow-container">
        <div class="mySlides fade">
          <img
            id="banner"
            src="../public/images/st_banner.png"
            style="width: 100%"
            alt="Stranger Things"
            />
          <div class="text">Stranger Things</div>
        </div>
        <img
            class="blur-banner"
            src="../public/images/st_banner.png"
            style="width: 100%"
            alt="Stranger Things"
            />
        <div class="mySlides fade">
          <img
            id="banner"
            src="../public/images/severance_banner.png"
            style="width: 100%"
            alt="Severance"
            />
          <div class="text">Severance</div>
          <img
          class="blur-banner"
          src="../public/images/severance_banner.png"
          style="width: 100%"
          alt="Severance"
          />
        </div>

        <div class="mySlides fade">
          <img
            id="banner"
            src="../public/images/endgame_banner.png"
            style="width: 100%"
            alt="Avengers: Endgame"
            />
          <div class="text">Avengers: Endgame</div>
          <img
          class="blur-banner"
          src="../public/images/endgame_banner.png"
          style="width: 100%"
          alt="Avengers: Endgame"
        />
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <section class="new-arrivals">
        <h1>Nuevos lanzamientos</h1>
        <div class="container-new-arrivals">
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt10872600/">
              <img src="../public/images/spidermannwh.jpg" alt="Spiderman No Way Home"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt1877830/">
              <img src="../public/images/thebatman.jpg" alt="The Batman"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt1464335/">
              <img src="../public/images/uncharted.jpg" alt="Uncharted"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt5108870/">
              <img src="../public/images/morbius.jpg" alt="Morbius"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt11138512/">
              <img src="../public/images/northman.jpg" alt="The Northman"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt4123432/">
              <img src="../public/images/secretsdumbledore.jpg" alt="Fantastic Beasts: The Secrets of Dumbledore"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt2442560/">
              <img src="../public/images/peakyblinders.jpg" alt="Peaky Blinders"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt13235822/">
              <img src="../public/images/umma.jpg" alt="Umma"/>
            </a>
          </div>
        </div>
      </section>
      <section class="new-arrivals">
        <h1>Maratoneá fuerte</h1>
        <div class="container-new-arrivals">
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt3032476/">
              <img src="../public/images/bettercallsaul.jpg" alt="Better Call Saul"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt9561862/">
              <img src="../public/images/lovedeathrobot.jpg" alt="Love Death + Robots"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt1442437/">
              <img src="../public/images/modernfamily.jpg" alt="Modern Family"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt5555260/">
              <img src="../public/images/thisisus.jpg" alt="This is Us"/>
            </a>
          </div>
      </section>
      <section class="new-arrivals">
        <h1>Romanticonas</h1>
        <div class="container-new-arrivals">
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt0099653/">
              <img src="../public/images/ghost.jpg" alt="Ghost"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt0338013/">
              <img src="../public/images/eternalsunshine.jpg" alt="Eternal Sunshinte of the Spotless Mind"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt1517451/">
              <img src="../public/images/astarisborn.jpg" alt="A Star is Born"/>
            </a>
          </div>
          <div class="multimedia-card">
            <a href="https://www.imdb.com/title/tt18258584/">
              <img src="../public/images/jackass4.jpg" alt="Jakcass 4"/>
            </a>
          </div>
      </section>
      <section class="new-trends">
        <h1>Tendencias</h1>
        <div class="container-trending">
          <div class="trending-card">
            <p id="trend-title">Stranger Things</p>
            <a href="https://www.imdb.com/title/tt4574334/">
              <img src="../public/images/strangerthings2.jpg" alt="Stranger Things 2"/>
            </a>
          </div>
          <div class="trending-card">
            <p id="trend-title">Obi-Wan Kenobi</p>
            <a href="https://www.imdb.com/title/tt8466564/">
              <img src="../public/images/obiwan.png" alt="Obiwan"/>
            </a>
          </div>
          <div class="trending-card">
            <span id="dummy">dummy</span>
            <p id="trend-title">Severance</p>
            <a href="https://www.imdb.com/title/tt11280740/">
              <img src="../public/images/severance.png" alt="Severance"/>
            </a>
          </div>
          <div class="trending-card">
            <p id="trend-title">Rick and Morty</p>
            <a href="https://www.imdb.com/title/tt2861424/">
              <img src="../public/images/rickandmorty.png" alt="Rick and Morty"/>
            </a>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <nav>
        <div class="container-footer-bar">
          <div class="social-media-footer">
            <a href="https://www.facebook.com"
              ><i class="bi bi-facebook"></i
            ></a>
            <a href="https://www.twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="https://www.instagram.com"
              ><i class="bi bi-instagram"></i
            ></a>
            <a href="https://www.youtube.com"><i class="bi bi-youtube"></i></a>
          </div>

          <div class="hyperlinks-footer">
            <ul id="footer-options">
              <a href="privacidad.html"><li>Privacidad</li></a>
              <a href="terminos.html"><li>Términos de uso</li></a>
              <a href="perfil.html"><li>Gestionar preferencias</li></a>
              <a href="supersecreto.html"><li>?</li></a>
            </ul>
          </div>
        </div>
      </nav>
      <p id="copyright-footer-message">
        © 2021-2022 mate+, Inc. | Hecho con amor por Bergantiños, Cappetta,
        Correa, Chamorro, Gioria, Morán
      </p>
    </footer>
    <script>
      let slideIndex = 1;
      let blurredSlidesIndex = 1;
      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      function currentSlide(n) {
        showSlides((slideIndex = n));
      }

      function showSlides(n) {
        let slides = document.getElementsByClassName("mySlides");

        let blurredSlides = document.getElementsByClassName("blur-banner");

        if (n > slides.length) {
          slideIndex = 1;
        }

        if (n < 1) {
          blurredSlidesIndex = slides.length;
          slideIndex = slides.length;
        }

        for (let i = 0; i < slides.length; i++) {
          blurredSlides[i].style.display = "none";
          slides[i].style.display = "none";
        }

        slides[slideIndex - 1].style.display = "block";

        blurredSlides[slideIndex - 1].style.display = "block";

      }
    </script>
  </body>
</html>
