<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>mate+</title>
  </head>
  <body>
    <header>
      <div class="container-header">
        <a href="./index.html">
          <div class="container-logo-text">
            <p id="logo-name">mate+</p>
          </div>
        </a>
        <nav>
          <div class="container-nav-bar">
            <ul id="navbar-options">
              <a href="index.html"><li>Inicio</li></a>
              <a href="series.html"><li>Series</li></a>
              <a href="peliculas.html"><li>Películas</li></a>
              <a href="mislistas.html"><li>Mis listas</li></a>
            </ul>
          </div>
        </nav>
        <div class="container-header-profile">
          <a href="./perfil.html">
            <p id="profile-user">Ricardo</p>
            <img id="profile-avatar" src="../public/images/avatar.png" />
          </a>
        </div>
      </div>
    </header>
    <main>
      <img
        class="blur-banner mislistas"
        src="../public/images/rect_ninenine.png"
        style="width: 100%"
      />
      <section class="new-arrivals">
        <h1>Declaración de privacidad</h1>
        <p class="privacy-description">
          Esta Declaración de privacidad explica nuestras prácticas (y sus
          elecciones) con respecto a la recopilación, el uso y la divulgación de
          ciertos datos, incluida su información personal en relación con el
          servicio de mate+.
        </p>
        <h3 class="privacy-subtitle">Contacto</h3>
        <p class="privacy-description">
          Si tiene preguntas generales sobre su cuenta o cómo ponerse en
          contacto con nuestro Servicio al Cliente para obtener asistencia,
          visite nuestro centro de ayuda online, en help.mate+.com. Si tiene
          alguna pregunta específica respecto de esta Declaración de privacidad,
          o nuestro uso de su información personal, de las cookies o de otras
          tecnologías similares, escriba a nuestro responsable de Protección de
          Datos o a la Oficina de Privacidad al email privacy@mate+.com. El
          responsable del tratamiento de los datos de su información personal es
          mate+, Inc. Tenga en cuenta que, si se comunica con nosotros para
          obtener ayuda, tanto por su seguridad como por la nuestra, podemos
          pedirle que autentique su identidad antes de atender su solicitud.
        </p>
        <h3 class="privacy-subtitle">Su información y sus derechos</h3>
        <p class="privacy-description">
          Puede solicitar acceso a su información personal, o corregir o
          actualizar la información personal desactualizada o inexacta que
          tenemos sobre usted. También puede solicitar que eliminemos la
          información personal que tenemos sobre usted. Cuando visite la sección
          “Cuenta” de nuestro sitio web, tiene la posibilidad de acceder y
          actualizar una amplia variedad de información acerca de su cuenta,
          incluida la información de contacto, su información de pago de mate+ y
          demás información relativa a su cuenta (como el contenido que ha visto
          y calificado). Tiene que haber iniciado sesión para acceder a la
          sección “Cuenta”. Si es el titular de la cuenta, visite:
          www.mate+.com/account/getmyinfo para descargar una copia de su
          información personal (debe iniciar sesión para acceder a la sección
          “Cuenta”) y siga las instrucciones. Para otras solicitudes, o si tiene
          alguna pregunta en relación con nuestras prácticas de privacidad,
          escriba a nuestro responsable de Protección de Datos o a la Oficina de
          Privacidad al email privacy@mate+.com. Para obtener más información
          sobre cómo acceder a su información, incluido nuestro proceso de
          verificación, consulte el siguiente artículo de ayuda:
          help.mate+.com/node/100624. Para obtener información sobre la
          supresión, eliminación y retención de información, consulte el
          siguiente artículo de ayuda: help.mate+.com/node/100625. Respondemos a
          todas las solicitudes de particulares que deseen ejercer sus derechos
          de protección de datos de conformidad con la legislación aplicable.
          Consulte también la sección “Sus opciones” de esta Declaración de
          privacidad para obtener opciones adicionales sobre su información.
          Podemos rechazar solicitudes que no sean proporcionales o que la ley
          no exija, incluidas aquellas que resulten extremadamente poco
          prácticas, que puedan requerir un esfuerzo técnico desproporcionado o
          que podrían exponernos a riesgos operativos, como fraudes en las
          pruebas gratuitas. Podemos retener la información requerida o
          permitida por las leyes y regulaciones aplicables, incluso para
          cumplir con sus selecciones, para nuestros fines de facturación o
          registros, y para cumplir con los propósitos descritos en esta
          Declaración de privacidad. Tomamos las medidas razonables para
          destruir o anonimizar la información personal de forma segura una vez
          que ya no se la necesita.
        </p>
        <h3 class="privacy-subtitle">Otros sitios web, plataformas y apps</h3>
        <p class="privacy-description">
          El servicio de mate+ puede recibirse o utilizar funciones (como
          controles de voz) operadas por plataformas de terceros, o contener
          enlaces a sitios operados por terceros que pueden tener políticas
          respecto del manejo de información diferentes de las nuestras. Por
          ejemplo, usted puede acceder al servicio de mate+ por medio de
          plataformas como sistemas de videojuegos, Smart TV, dispositivos
          móviles, decodificadores y una variedad de dispositivos con conexión a
          internet. Estos sitios web y plataformas tienen sus propias políticas
          de privacidad y datos, declaraciones de privacidad, avisos y términos
          de uso, que le recomendamos leer con atención. Además, es probable que
          encuentre apps de terceros que interactúen con el servicio de mate+.
        </p>
        <h3 class="privacy-subtitle">¿Dudas?</h3>
        <p class="privacy-description">
          Entendemos que tu privacidad es lo más importante para ti. Y sabemos
          que todo lo anterior suele parecer un palabrerío gigantezco. Es por
          ello que nuestro equipo de profesionales logró sintetizar todo lo
          definido en los textos anteriores:
        </p>
        <div class="contenedor-secretos">
          <img id="tus-secretos" src="../public/images/tus_secretos.gif" />
          <div class="contenedor-secretos-textos">
            <h3>Nos perteneces</h3>
            <p>
              Nos perteneces desde el momento en el que nos diste tu tarjeta de
              crédito. Sabemos todo de vos.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <nav>
        <div class="container-footer-bar">
          <div class="social-media-footer">
            <a href="https://www.facebook.com"
              ><i class="bi bi-facebook"></i
            ></a>
            <a href="https://www.twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="https://www.instagram.com"
              ><i class="bi bi-instagram"></i
            ></a>
            <a href="https://www.youtube.com"><i class="bi bi-youtube"></i></a>
          </div>

          <div class="hyperlinks-footer">
            <ul id="footer-options">
              <a href="privacidad.html"><li>Privacidad</li></a>
              <a href="terminos.html"><li>Términos de uso</li></a>
              <a href="perfil.html"><li>Gestionar preferencias</li></a>
              <a href="supersecreto.html"><li>?</li></a>
            </ul>
          </div>
        </div>
      </nav>
      <p id="copyright-footer-message">
        © 2021-2022 mate+, Inc. | Hecho con amor por Bergantiños, Cappetta,
        Correa, Chamorro, Gioria, Morán
      </p>
    </footer>
  </body>
</html>
