<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>mate+</title>
  </head>
  <body>
    <header>
      <div class="container-header">
        <a href="./index.html">
          <div class="container-logo-text">
            <p id="logo-name">mate+</p>
          </div>
        </a>
        <nav>
          <div class="container-nav-bar">
            <ul id="navbar-options">
              <a href="index.html"><li>Inicio</li></a>
              <a href="series.html"><li>Series</li></a>
              <a href="peliculas.html"><li>Películas</li></a>
              <a href="mislistas.html"><li>Mis listas</li></a>
            </ul>
          </div>
        </nav>
        <div class="container-header-profile">
          <a href="./perfil.html">
            <p id="profile-user">Ricardo</p>
            <img id="profile-avatar" src="../public/images/avatar.png" />
          </a>
        </div>
      </div>
    </header>
    <main>
      <img
        class="blur-banner mislistas"
        src="../public/images/rect_iamlegend.png"
        style="width: 100%"
      />
      <section class="new-arrivals">
        <h1>El secreto de la vida</h1>
        <p class="super-secret-description">
          mate+ nació como un proyecto universitario de un par de alumnos con
          ideas -no tan- revolucionarias. No, no reinventamos la rueda. ¿O sí?
          ¿Un servicio de streaming? Mejor dicho, ¡¿OTRO SERVICIO DE STREAMING?!
          Sí, otro servicio de streaming. Lo bueno es que ahora no vas a tener
          que dejar la mitad de tu sueldo en múltiples servicios como Netflix,
          Disney+, Prime Video. Ahora vas a dejar más de la mitad del sueldo con
          Netflix, Disney+, Prime Video y mate+. Fantástico.
        </p>
        <h3 class="super-secret-subtitle">
          ¿Cómo nos mantenemos con tarifas tan bajas?
        </h3>
        <p class="super-secret-description">
          Marge, no voy a mentirte. No nos mantenemos. Nos mantienen nuestros
          padres. Trucazo, ¿no?
        </p>
        <p class="super-secret-description">
          Hablando en serio, nos tomamos el tiempo de documentar cómo exprimimos
          cada centavo que recibimos para hacer mate+ un mejor lugar para vos,
          para tu familia, para tus amigos. Somos fundamentalistas del boca a
          boca; creemos que la mejor publicidad es tu recomendación. Acá vas a
          poder encontrar toda la información relevante sobre cómo gestionamos
          nuestros ingresos, en qué invertimos, y cómo logramos tener acceso a
          un catálogo monumental de contenido audiovisual.
        </p>
        <div class="container-video-secret">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/dQw4w9WgXcQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            id="best-song-ever"
          ></iframe>
        </div>
        <h3 class="super-secret-subtitle">¿No te gusta nuestro sitio?</h3>
        <p class="terms-description">
          Honestamente, no nos importa. Pero te dejamos la ubicación de nuestras
          oficinas alrededor del mundo mapa para que puedas visitarnos y ser un
          poco menos hater. ¡Quizás hasta consigas un nuevo empleo! Acordate que
          nosotros tenemos mucho dinero -y los derechos de Jackass-, y vos no.
        </p>
        <div class="container-map-secret">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.4772273203716!2d-58.38399818390829!3d-34.6173785804559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccaba6ac89b35%3A0x1a2dc24cbca665a7!2sUADE!5e0!3m2!1sen!2sar!4v1655250386214!5m2!1sen!2sar"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="tiny-map"
          ></iframe>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.3321790945956!2d-122.01116068386239!3d37.33464377984188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb596e9e188fd%3A0x3b0d8391510688f0!2sApple%20Park!5e0!3m2!1sen!2sar!4v1655251746663!5m2!1sen!2sar"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="tiny-map"
          ></iframe>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.004440911736!2d-3.690522383806176!3d40.45303867936102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228e23705d39f%3A0xa8fff6d26e2b1988!2sSantiago%20Bernab%C3%A9u%20Stadium!5e0!3m2!1sen!2sar!4v1655251900338!5m2!1sen!2sar"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="tiny-map"
          ></iframe>
        </div>
      </section>
    </main>
    <footer>
      <nav>
        <div class="container-footer-bar">
          <div class="social-media-footer">
            <a href="https://www.facebook.com"
              ><i class="bi bi-facebook"></i
            ></a>
            <a href="https://www.twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="https://www.instagram.com"
              ><i class="bi bi-instagram"></i
            ></a>
            <a href="https://www.youtube.com"><i class="bi bi-youtube"></i></a>
          </div>

          <div class="hyperlinks-footer">
            <ul id="footer-options">
              <a href="privacidad.html"><li>Privacidad</li></a>
              <a href="terminos.html"><li>Términos de uso</li></a>
              <a href="perfil.html"><li>Gestionar preferencias</li></a>
              <a href="supersecreto.html"><li>?</li></a>
            </ul>
          </div>
        </div>
      </nav>
      <p id="copyright-footer-message">
        © 2021-2022 mate+, Inc. | Hecho con amor por Bergantiños, Cappetta,
        Correa, Chamorro, Gioria, Morán
      </p>
    </footer>
  </body>
</html>
