<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>mate+</title>
  </head>
  <body>
    <header>
      <div class="container-header">
        <a href="./index.html">
          <div class="container-logo-text">
            <p id="logo-name">mate+</p>
          </div>
        </a>
        <nav>
          <div class="container-nav-bar">
            <ul id="navbar-options">
              <a href="index.html"><li>Inicio</li></a>
              <a href="series.html"><li>Series</li></a>
              <a href="peliculas.html"><li>Películas</li></a>
              <a href="mislistas.html"><li>Mis listas</li></a>
            </ul>
          </div>
        </nav>
        <div class="container-header-profile">
          <a href="./perfil.html">
            <p id="profile-user">Ricardo</p>
            <img id="profile-avatar" src="../public/images/avatar.png" />
          </a>
        </div>
      </div>
    </header>
    <main>
      <img
        class="blur-banner mislistas"
        src="../public/images/rect_mandalorian.png"
        style="width: 100%"
      />
      <section class="new-arrivals">
        <h1>Términos de uso de mate+</h1>
        <p class="terms-description">
          mate+ brinda un servicio de suscripción personalizado que permite a
          nuestros miembros acceder a contenido de entretenimiento (el
          “contenido de mate+”) a través de internet en ciertas TV, computadoras
          y otros dispositivos conectados a internet (“dispositivos listos para
          mate+”). Los presentes Términos de uso rigen la utilización que haga
          de nuestro servicio. Según se utilicen en estos Términos de uso, las
          frases “el servicio de mate+”, “nuestro servicio” o “el servicio” se
          refieren al servicio personalizado brindado por mate+ para descubrir y
          acceder al contenido de mate+, incluidas todas las características y
          funcionalidades, recomendaciones y críticas, nuestros sitios web y las
          interfaces de usuario, además de todo el contenido y software asociado
          a nuestro servicio.
        </p>
        <h3 class="terms-subtitle">Membresía</h3>
        <p class="terms-description">
          Su membresía de mate+ continuará hasta que la cancele. Para usar el
          servicio de mate+, debe tener acceso a internet y un dispositivo listo
          para mate+, y proporcionar una o más Formas de pago. “Forma de pago”
          significa una forma de pago actual, válida y aceptada, que pueda
          actualizarse periódicamente y que admita pagos a través de terceros. A
          menos que cancele su membresía antes de la fecha de facturación, nos
          autoriza a cobrarle la membresía del siguiente ciclo de facturación a
          su Forma de pago (ver “Cancelación” a continuación).
        </p>
        <h3 class="terms-subtitle">Ofertas promocionales</h3>
        <p class="terms-description">
          Ocasionalmente, podríamos hacer ofertas especiales de promociones,
          planes o membresías (“Ofertas”). mate+ determina los requisitos para
          acceder a la Oferta a su exclusivo criterio, y nos reservamos el
          derecho de revocar una Oferta y suspender su cuenta si determinamos
          que usted no es elegible. Los miembros en hogares con una membresía de
          mate+ existente o reciente podrían no ser elegibles para ciertas
          Ofertas de introducción. Podemos utilizar información como el Id. del
          dispositivo, la forma de pago o la dirección de email de la cuenta
          utilizada con una membresía de mate+ existente o reciente para
          determinar la elegibilidad de la Oferta. Los requisitos de
          elegibilidad y otras limitaciones y condiciones se le informarán
          cuando se suscriba a la Oferta o en otras comunicaciones puestas a su
          disposición.
        </p>
        <h3 class="terms-subtitle">Facturación y cancelación</h3>
        <p class="terms-description">
          Los cargos de membresía por el servicio de mate+ y cualquier otro
          cargo en el que incurra en relación con el uso que haga del servicio
          de mate+, como impuestos y posibles gastos de transacción, se cobrarán
          a su Forma de pago en la fecha de pago específica indicada en la
          página “Cuenta”. La duración de su ciclo de facturación dependerá del
          tipo de membresía que haya seleccionado al suscribirse al servicio. En
          ciertos casos, su fecha de pago podría cambiar, por ejemplo, si no se
          pudo hacer el cobro con su Forma de pago satisfactoriamente, cuando
          cambie su plan de suscripción, o si su membresía pagada comenzó un día
          que no está incluido en un determinado mes. Visite el sitio web
          mate+.com y haga clic en el vínculo “Información de facturación”, en
          la página “Cuenta” para ver su próxima fecha de pago. Podemos
          autorizar su Forma de pago antes del cobro relacionado con la
          membresía o el servicio a través de varios métodos, e incluso
          autorizarla para que dure aproximadamente un mes de servicio a partir
          de su registro. Si se suscribió a mate+ usando su cuenta con un
          tercero como Forma de pago, puede encontrar la información sobre la
          facturación de su membresía de mate+ en su cuenta correspondiente del
          servicio del tercero.
        </p>
      </section>
    </main>
    <footer>
      <nav>
        <div class="container-footer-bar">
          <div class="social-media-footer">
            <a href="https://www.facebook.com"
              ><i class="bi bi-facebook"></i
            ></a>
            <a href="https://www.twitter.com"><i class="bi bi-twitter"></i></a>
            <a href="https://www.instagram.com"
              ><i class="bi bi-instagram"></i
            ></a>
            <a href="https://www.youtube.com"><i class="bi bi-youtube"></i></a>
          </div>

          <div class="hyperlinks-footer">
            <ul id="footer-options">
              <a href="privacidad.html"><li>Privacidad</li></a>
              <a href="terminos.html"><li>Términos de uso</li></a>
              <a href="perfil.html"><li>Gestionar preferencias</li></a>
              <a href="supersecreto.html"><li>?</li></a>
            </ul>
          </div>
        </div>
      </nav>
      <p id="copyright-footer-message">
        © 2021-2022 mate+, Inc. | Hecho con amor por Bergantiños, Cappetta,
        Correa, Chamorro, Gioria, Morán
      </p>
    </footer>
  </body>
</html>
